body,html,h1,h2,h3,h4,h5 {font-family:'Dancing Script',cursive}body,html{/*background-color:#6a6a6a;*/text-align:center;font-style:normal;}.kaki,.kepala{text-align:center;-webkit-animation:random 5s infinite;animation:random 5s infinite}@keyframes random{15%{color:red}30%{color:yellow}45%{color:green}60%{color:blue}75%{color:white}}h2,.kutitipkan,kutip{font-size:30px;color:#fff}img,quote,p{max-width:100%;height:auto}.tengah{padding:70px 0;text-align:center}h1{font-size:36px}h2{font-size:30px;}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}hr{border:0;border-top:1px solid #eee;margin:20px 0}@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ogkl7v');
  src:  url('fonts/icomoon.eot?ogkl7v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ogkl7v') format('truetype'),
    url('fonts/icomoon.woff?ogkl7v') format('woff'),
    url('fonts/icomoon.svg?ogkl7v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote-right:before {
  content: "\e900";
}
.icon-quote-left:before {
  content: "\e901";
}

