body { background-color: #7a7a7a; 
	text-align:center;}
.kaki,.kepala {  text-align:center;
	-webkit-animation: random 5s infinite;
	animation: random 5s infinite;}
@keyframes  random {
	15% { color: red; } 
	30% { color: yellow; } 
	45% { color: green; } 
	60% { color: blue; }
	75% { color: white; } 
}
div { display:inline-block; }
h2,.kutitipkan {font-family: 'Dancing Script', cursive;color:#fff}}
hr.kutip { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.kutip:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
  img,quote,p {max-width: 100%;height: auto;}
div.tengah {
    position: relative }
div.tengah h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
